body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

.LayoutNavBar{
    background-color: aqua;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a{
        margin: 0 2rem 0 2rem;
        font-size: 1.25rem;
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
}

.LayoutHeader{
    background-image: url(https://wallpapers.com/images/hd/zoom-party-pizza-slice-on-wood-v9b7xqgls5fw0n28.jpg);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;

    h1{
        margin-bottom: 0;
    }

    p{
        border-bottom: 1px solid white;
        padding-bottom: 2rem;
        padding-inline: 9rem;
    }
}

.PizzaContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.LayoutCard{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: solid 2px gray;
    border-radius: 0.7rem;

    img{
        height: 200px;
        width: 200px;
        border-radius: 0.7rem;
    }

    h2{
        padding-left: 1rem;
        font-size: 1.5rem;
        border-bottom: 1px solid gray;
        margin: 0;
        padding-bottom: 1.5rem;
    }

    p{
        margin: 0;
    }
    h1{
        display: flex;
        justify-content: center;
        font-weight: 600;
    }

    li{
        list-style-type: none;
    }

    .list{
        margin-left: 5px;
        font-size: 1.1rem;
        
        p{
            font-weight: 700;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
    
        a{
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }
    }
    
    .buttonMore{
        padding: 10px;
        background-color: aqua;
        border: none;
        border-radius: 5px;
        font-weight: 700;
    }
    
    .buttonAdd{
        padding: 10px;
        background-color: red;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        font-weight: 700;
    }
}